.playlist {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        cursor: pointer;
        user-select: none;
    }

    &__item:not(:first-child) {
        margin-top: 1em;
    }

    &__item.active .playlist__item-name {
        color: #000;
    }

    &__item-name {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
    }
}