.player {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.player__content {
    flex: 1 0 auto;
    display: flex;
}

.player__main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.player__sidebar {
    flex: 0 0 300px;
    max-width: 300px;
    padding: 2em;
    border-left: 1px solid #808080;
}