.play {
    font-family: 'Segoe MDL2';
    font-size: 3em;
    color: #000;
    background: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
    opacity: .5;
    transition: opacity ease-out .1s;
}

.play:hover {
    opacity: 1;
}

.play:hover,
.play:focus,
.play:active {
    outline: none;
}