.progress {
  position: relative;

  &__bar {
    width: 100%;
    cursor: pointer;
  }

  &__stat {
    padding-right: 2em;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    color: #000;
    text-align: right;
  }
}

